/* font-family: "Press Start 2P", system-ui; */
/* font-family: "Manrope", sans-serif; */

:root {
    --context-green: #a8c780;
    --white: #e3e7dd;
    --grey-green: #b5bbb0;
    --dark-green: #101612;
    --green: #161d17;
    --dark-dark-geen: #090d0b;

}

body {
    background-color: var(--main-color);
    padding: var(--main-padding);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
}
.menu {
}
.menu__list {
    display: flex;
}
.menu__item {
}
.anchor-link {
}
.logo {
    color: var(--white);
    text-decoration: none;
    word-spacing: -3px;
    display: flex;
    align-items: center;
}
.logo__picture {
    width: 31px;
    height: 31px;
}
.logo__text {
    font-size: 14px;
    font-family: "Press Start 2P", system-ui;
}
.logo__text--color {
    color: var(--context-green);
}
